CREATE PROCEDURE [dbo].[PR_SSCalculos]
@idPresupuesto INT,
@idEmpleado INT,
@fechaIngreso AS DATE,
@sueldoDiario AS NUMERIC(10,2)
AS

BEGIN

	SET NOCOUNT ON;
		DECLARE @Meses TABLE(idMes INT, Enero NUMERIC(10,2), Febrero NUMERIC(10,2), Marzo NUMERIC(10,2), Abril NUMERIC(10,2), Mayo NUMERIC(10,2), Junio NUMERIC(10,2),
				Julio NUMERIC(10,2), Agosto NUMERIC(10,2), Septiembre NUMERIC(10,2), Octubre NUMERIC(10,2), Noviembre NUMERIC(10,2), Diciembre NUMERIC(10,2))

		DECLARE @fechaSueldoMes AS DATE
		DECLARE @sueldoMesAnt AS NUMERIC(10,2),  
				@incrementoSalarialMensual AS NUMERIC(10,2),
				@incrementoSalarialMesAct AS NUMERIC(10,2)

				SET @fechaIngreso = '2021-01-01'				
				SET @sueldoDiario = 333.33

				SET @fechaSueldoMes = '2021-01-01'
				SET @sueldoMesAnt = 10000
				SET @incrementoSalarialMesAct = 1.1

		--INSERT INTO @Meses(Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre)
		INSERT INTO @Meses(Enero)
		VALUES(CASE WHEN @fechaIngreso > @fechaSueldoMes THEN 0 ELSE CASE WHEN @sueldoMesAnt = 0 THEN (@sueldoDiario * 1.1) * 30 ELSE @sueldoMesAnt * @incrementoSalarialMesAct END END)

		/* Inicio del Cursor */

		DECLARE @idMaterial AS INT, @idCuenta AS INT, @idPresupuestoSem AS INT

		DECLARE Meses CURSOR FOR

		SELECT idMaterial, idCuenta, idPresupuestoSem
		FROM PR_detSueldos
		WHERE idPresupuesto = @idPresupuesto

		OPEN Meses
		FETCH NEXT FROM Meses INTO @idMaterial, @idCuenta, @idPresupuestoSem
		WHILE @@fetch_status = 0
		BEGIN

			INSERT INTO PR_detPresupuestoSem
			SELECT @idPresupuestoSem, PR_Semanas.idSemana, 0
			FROM PR_Semanas

			FETCH NEXT FROM Meses INTO @idMaterial, @idCuenta, @idPresupuestoSem
		END
		CLOSE Meses
		DEALLOCATE Meses
		
		/*FIN DEL CURSOR*/

		SELECT * FROM @Meses
END