USE [Presupuesto]
GO
/****** Object:  StoredProcedure [dbo].[PR_SSCalculos]    Script Date: 7/12/2021 10:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PR_SSCalculos] --3,2,400,'2021-01-03'
@idPresupuesto INT,
@idEmpleado INT,
@sueldoDiario AS NUMERIC(10,4),
@fechaIngreso AS DATE

AS

BEGIN

	SET NOCOUNT ON;

		DECLARE @Meses TABLE(idConcepto INT, Enero NUMERIC(10,2), Febrero NUMERIC(10,2), Marzo NUMERIC(10,2), Abril NUMERIC(10,2), Mayo NUMERIC(10,2), Junio NUMERIC(10,2),
				Julio NUMERIC(10,2), Agosto NUMERIC(10,2), Septiembre NUMERIC(10,2), Octubre NUMERIC(10,2), Noviembre NUMERIC(10,2), Diciembre NUMERIC(10,2))

		INSERT INTO @Meses
		SELECT idConcepto, Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre
		FROM PR_detSueldos
		WHERE idPresupuesto = @idPresupuesto
		AND idEmpleado = @idEmpleado

		DECLARE @incrementoSalarial AS NUMERIC(10,2),
				@incrementoSalarialEnero AS NUMERIC(10,2),
				@incrementoSalarialFebrero AS NUMERIC(10,2),
				@incrementoSalarialMarzo AS NUMERIC(10,2),
				@incrementoSalarialAbril AS NUMERIC(10,2),
				@incrementoSalarialMayo AS NUMERIC(10,2),
				@incrementoSalarialJunio AS NUMERIC(10,2),
				@incrementoSalarialJulio AS NUMERIC(10,2),
				@incrementoSalarialAgosto AS NUMERIC(10,2),
				@incrementoSalarialSeptiembre AS NUMERIC(10,2),
				@incrementoSalarialOctubre AS NUMERIC(10,2),
				@incrementoSalarialNoviembre AS NUMERIC(10,2),
				@incrementoSalarialDiciembre AS NUMERIC(10,2),
				@incrementoSalarialTotal AS NUMERIC(10,2)

				SET @incrementoSalarial = (SELECT Incremento FROM PR_ssParametros WHERE idPresupuesto = @idPresupuesto)
		
		/* Inicio del Cursor */

		DECLARE @idConcepto AS INT

		DECLARE Meses CURSOR FOR

		SELECT idConcepto
		FROM PR_detSueldos
		WHERE idPresupuesto = @idPresupuesto
		AND idEmpleado = @idEmpleado

		OPEN Meses
		FETCH NEXT FROM Meses INTO @idConcepto
		WHILE @@fetch_status = 0
		BEGIN

		IF(@idConcepto = 1)
		BEGIN
		SET @incrementoSalarialEnero = (SELECT Enero FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialFebrero = (SELECT Febrero FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialMarzo = (SELECT Marzo FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialAbril = (SELECT Abril FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialMayo = (SELECT Mayo FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialJunio = (SELECT Junio FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialJulio = (SELECT Julio FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialAgosto = (SELECT Agosto FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialSeptiembre = (SELECT Septiembre FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialOctubre = (SELECT Octubre FROM PR_ssPorcentajeMeses WHERE idPresupuesto =@idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialNoviembre = (SELECT Noviembre FROM PR_ssPorcentajeMeses WHERE idPresupuesto =@idPresupuesto AND idConcepto = @idConcepto)
		SET @incrementoSalarialDiciembre = (SELECT Diciembre FROM PR_ssPorcentajeMeses WHERE idPresupuesto =@idPresupuesto AND idConcepto = @idConcepto)

		SET @incrementoSalarialTotal = (@incrementoSalarialEnero*@incrementoSalarialFebrero*@incrementoSalarialMarzo*@incrementoSalarialAbril*@incrementoSalarialMayo*@incrementoSalarialJunio*
										@incrementoSalarialJulio*@incrementoSalarialAgosto*@incrementoSalarialSeptiembre*@incrementoSalarialOctubre*@incrementoSalarialNoviembre*@incrementoSalarialDiciembre)

										
		--ENERO--
		SET @incrementoSalarialEnero = (SELECT Enero FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET	Enero = CASE WHEN @fechaIngreso > '2021-01-01' THEN 0 ELSE (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 END
		WHERE idConcepto = @idConcepto

		--FEBRERO--
		SET @incrementoSalarialFebrero = (SELECT Febrero FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Febrero = CASE WHEN @fechaIngreso > '2021-01-02' THEN 0 ELSE CASE WHEN (SELECT Enero FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Enero FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialFebrero END END
		WHERE idConcepto = @idConcepto

		--MARZO--
		SET @incrementoSalarialMarzo = (SELECT Marzo FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Marzo = CASE WHEN @fechaIngreso > '2021-01-03' THEN 0 ELSE CASE WHEN (SELECT Febrero FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Febrero FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialMarzo END END
		WHERE idConcepto = @idConcepto

		--ABRIL--
		SET @incrementoSalarialAbril = (SELECT Abril FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)
		
		UPDATE @Meses 
		SET Abril = CASE WHEN @fechaIngreso > '2021-01-04' THEN 0 ELSE CASE WHEN (SELECT Marzo FROM @Meses WHERE idConcepto = 1) = 0 THEN ((@sueldoDiario * (@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Marzo FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialAbril END END
		WHERE idConcepto = @idConcepto

		--MAYO--
		SET @incrementoSalarialMayo = (SELECT Mayo FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Mayo = CASE WHEN @fechaIngreso > '2021-05-01' THEN 0 ELSE CASE WHEN (SELECT Abril FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Abril FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialMayo END END
		WHERE idConcepto = @idConcepto

		--JUNIO--
		SET @incrementoSalarialJunio = (SELECT Junio FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Junio = CASE WHEN @fechaIngreso > '2021-06-01' THEN 0 ELSE CASE WHEN (SELECT Mayo FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Mayo FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialJunio END END
		WHERE idConcepto = @idConcepto

		--JULIO--
		SET @incrementoSalarialJulio = (SELECT Julio FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Julio = CASE WHEN @fechaIngreso > '2021-07-01' THEN 0 ELSE CASE WHEN (SELECT Junio FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Junio FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialJulio END END
		WHERE idConcepto = @idConcepto

		--AGOSTO--
		SET @incrementoSalarialAgosto = (SELECT Agosto FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Agosto = CASE WHEN @fechaIngreso > '2021-08-01' THEN 0 ELSE CASE WHEN (SELECT Julio FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Julio FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialAgosto END END
		WHERE idConcepto = @idConcepto

		--SEPTIEMBRE--
		SET @incrementoSalarialSeptiembre = (SELECT Septiembre FROM PR_ssPorcentajeMeses WHERE idPresupuesto = @idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Septiembre = CASE WHEN @fechaIngreso > '2021-09-01' THEN 0 ELSE CASE WHEN (SELECT Agosto FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Agosto FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialSeptiembre END END
		WHERE idConcepto = @idConcepto

		--OCTUBRE--
		SET @incrementoSalarialOctubre = (SELECT Octubre FROM PR_ssPorcentajeMeses WHERE idPresupuesto =@idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Octubre = CASE WHEN @fechaIngreso > '2021-10-01' THEN 0 ELSE CASE WHEN (SELECT Septiembre FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Septiembre FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialOctubre END END
		WHERE idConcepto = @idConcepto

		--NOVIEMBRE--
		SET @incrementoSalarialNoviembre = (SELECT Noviembre FROM PR_ssPorcentajeMeses WHERE idPresupuesto =@idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Noviembre = CASE WHEN @fechaIngreso > '2021-11-01' THEN 0 ELSE CASE WHEN (SELECT Octubre FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Octubre FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialNoviembre END END
		WHERE idConcepto = @idConcepto

		--DICIEMBRE--
		SET @incrementoSalarialDiciembre = (SELECT Diciembre FROM PR_ssPorcentajeMeses WHERE idPresupuesto =@idPresupuesto AND idConcepto = @idConcepto)

		UPDATE @Meses 
		SET Diciembre = CASE WHEN @fechaIngreso > '2021-12-01' THEN 0 ELSE CASE WHEN (SELECT Noviembre FROM @Meses WHERE idConcepto = 1) = 0 THEN (@sueldoDiario * ((@incrementoSalarial/100)+@incrementoSalarialTotal)) * 30 ELSE (SELECT Noviembre FROM @Meses WHERE idConcepto = 1) * @incrementoSalarialDiciembre END END
		WHERE idConcepto = @idConcepto


		END

			FETCH NEXT FROM Meses INTO @idConcepto
		END
		CLOSE Meses
		DEALLOCATE Meses
		
		/*FIN DEL CURSOR*/
		select @incrementoSalarialTotal
		SELECT * FROM @Meses
END